# Part 1

In [3]:
!pip install pyspark
%ls -la

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 80 kB/s  eta 0:00:01
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 9.0 MB/s eta 0:00:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=13c3cfbe84957ea59257c1737513e745e08f76875d0b60622ef12e05f108a1ae
  Stored in directory: /home/laggy/.cache/pip/wheels/23/f6/d3/110e53bd43baeb8d7d38049733d48e39cbecd056f01dba7ee8
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0
total 7458644
drwxr-xr-x 44 laggy laggy        4096 Dec  1 16:24  ./
drwxr-xr-x  3 root  root         4096 Jun 10 17:28  ../
-rw-------  1 laggy laggy         104 Nov 28 10:11  .Xauthority
-rw-------  1 laggy laggy       56201 Dec  1 15:43  .bash_history
-rw-r--r--  1 laggy laggy         220 Jun 10 17:28  .bash_logout
-rw-r--r--  1 laggy laggy        3865 Nov 16 05:28  .bashrc
drwxr-xr-x 27 laggy laggy        4096 Dec  1 16:18  .cache/
drwx------ 28 laggy laggy        4096 Oct 26 13:03  .config/
drwx------  3 laggy docker       4096 Oct 26 14:02  .docker/
drwxr--r--  4 laggy laggy        4096 Jun 10 17:55  .gazebo/
-rw-rw-r--  1 laggy laggy          50 Oct 18 22:47  .gitconfig
drwx------  3 laggy laggy        4096 Oct 16 11:16  .gnome/
drwx------  3 laggy laggy        4096 Nov  2 13:35  .gnupg/
drwxr--r--  2 laggy laggy        4096 Jun 10 17:55  .ignition/
drwxrwxr-x  2 laggy laggy        4096 Dec  1 16:09  .ipynb_checkpoints/
drwxrwxr-x  6 laggy laggy        4096 Nov 23 10:00  .ipython/
drwxrwxr-x  4 laggy laggy        4096 Jun 10 20:11  .java/
drwxrwxr-x  2 laggy laggy        4096 Nov 23 09:49  .jupyter/
drwxr-xr-x  5 laggy laggy        4096 Jun 13 22:49  .local/
drwx------  5 laggy laggy        4096 Jun 10 17:39  .mozilla/
drwx------  3 laggy laggy        4096 Aug 11 17:41  .pki/
-rw-r--r--  1 laggy laggy        2185 Nov 30 13:22  .profile
drwxrwxr-x  4 laggy laggy        4096 Jun 10 18:45  .ros/
drwxrwxr-x  4 laggy laggy        4096 Nov 16 06:20  .sbt/
-rw-------  1 laggy laggy         875 Nov 29 20:40  .scala_history
drwxrwxr-x  2 laggy laggy        4096 Jun 10 17:55  .sdformat/
drwx------  2 laggy laggy        4096 Nov 29 18:20  .ssh/
-rw-r--r--  1 laggy laggy           0 Jun 10 17:40  .sudo_as_admin_successful
drwxrwxr-x  4 laggy laggy        4096 Oct 26 13:03  .vagrant/
drwxrwxr-x  7 laggy laggy        4096 Nov 29 19:06  .vagrant.d/
-rw-rw-r--  1 laggy laggy         497 Nov 28 09:36  .wget-hsts
-rw-r--r--  1 laggy laggy       48270 Nov 30 20:48  .xorgxrdp.10.log
-rw-r--r--  1 laggy laggy       37186 Nov 23 23:28  .xorgxrdp.10.log.old
-rw-r--r--  1 laggy laggy       34709 Oct 25 12:37  .xorgxrdp.11.log
-rw-r--r--  1 laggy laggy       48872 Oct 24 07:16  .xorgxrdp.11.log.old
-rw-------  1 laggy laggy       16976 Nov 28 10:11  .xsession-errors
-rw-------  1 laggy laggy         348 Oct 27 02:25  2021-10-26-23-25-42.039-VBoxHeadless-65725.log
-rw-------  1 laggy laggy         348 Oct 27 02:25  2021-10-26-23-25-42.060-VBoxHeadless-66261.log
-rw-------  1 laggy laggy         373 Oct 27 02:25  2021-10-26-23-25-42.073-VBoxHeadless-24401.log
drwxrwxr-x  6 laggy laggy        4096 Jun 21 21:37  CLionProjects/
drwxr-xr-x  4 laggy laggy        4096 Nov  2 13:01  Desktop/
-rw-rw-r--  1 laggy docker        513 Oct 26 13:21  Dockerfile
drwxr-xr-x  2 laggy laggy        4096 Oct 24 05:59  Documents/
drwxr-xr-x  4 laggy laggy        4096 Oct 17 19:46  Downloads/
-rw-rw-r--  1 laggy laggy       17313 Nov 23 13:09 'Lab 8.ipynb'
-rw-rw-r--  1 laggy laggy        3647 Dec  1 15:51  Lab9.ipynb
-rw-rw-r--  1 laggy laggy        5321 Dec  1 16:00  Lab9_.ipynb
drwxr-xr-x  2 laggy laggy        4096 Jun 10 17:39  Music/
drwxr-xr-x  2 laggy laggy        4096 Jun 10 19:08  Pictures/
drwxr-xr-x  2 laggy laggy        4096 Jun 10 17:39  Public/
drwxrwxr-x  3 laggy laggy        4096 Oct 24 09:37  Stress-Testing-bash-script/
drwxr-xr-x  2 laggy laggy        4096 Jun 10 17:39  Templates/
-rw-rw-r--  1 laggy laggy       16112 Nov 23 10:47  Untitled-Copy1.ipynb
-rw-rw-r--  1 laggy laggy       16112 Nov 23 10:42  Untitled.ipynb
-rw-rw-r--  1 laggy laggy        4151 Nov 28 18:45  Untitled1.ipynb
-rw-rw-r--  1 laggy laggy       18135 Nov 28 19:04  Untitled2-Copy1.ipynb
-rw-rw-r--  1 laggy laggy        2189 Nov 30 13:16  Untitled2.ipynb
-rw-rw-r--  1 laggy laggy         644 Dec  1 16:11  Untitled3.ipynb
-rw-rw-r--  1 laggy laggy        3022 Oct 26 13:03  Vagrantfile
drwxr-xr-x  2 laggy laggy        4096 Jun 10 17:39  Videos/
drwx------  5 laggy laggy        4096 Nov 28 14:54 'VirtualBox VMs'/
drwxrwxr-x  2 laggy laggy        4096 Nov 23 10:08  __MACOSX/
-rw-rw-r--  1 laggy docker        665 Oct 26 13:22  app.py
drwxrwxr-x  2 laggy laggy        4096 Oct 16 11:16  bin/
drwxrwxr-x  4 laggy laggy        4096 Oct 21 14:34  fun/
drwxrwxr-x 10 laggy laggy        4096 Nov 29 19:23  hadoop/
drwxrwxr-x  3 laggy laggy        4096 Nov 29 18:43  hadoop_tmp/
-rw-rw-r--  1 laggy laggy          12 Oct 26 13:07  hellow_word.txt
drwxrwxr-x  6 laggy laggy        4096 Nov 28 10:03  ibd/
-rw-rw-r--  1 laggy laggy       15753 Jun 10 17:55  iiwa14.world
drwxrwxr-x  2 laggy laggy        4096 Nov  1 14:30  lab4/
-rw-r--r--  1 laggy laggy       15535 Dec  1 16:24  lab8.ipynb
drwxrwxr-x  2 laggy laggy        4096 Nov 29 20:43  movielens-modified/
-rw-rw-r--  1 laggy docker         12 Oct 26 13:21  requirements.txt
drwx------  8 laggy laggy        4096 Jun 11 21:46  snap/
-rw-rw-r--  1 laggy laggy   512137572 Dec  1 16:19  songs_dataset.zip
drwxrwxr-x  5 laggy laggy        4096 Nov 29 23:24  spark-recommendation/
-rw-rw-r--  1 laggy laggy    15546984 May 31  2021  teamviewer_amd64.deb
-rw-rw-r--  1 laggy laggy           0 Oct 29 21:22  test.txt
drwxrwxr-t  2 laggy laggy        4096 Oct 24 04:05  thinclient_drives/
-rw-r--r--  1 laggy laggy  3001659271 Dec 19  2011  train_triplets.txt
-rw-rw-r--  1 laggy laggy   181095220 Dec  1 16:17  train_triplets.txt.zip
-rwxr-xr-x  1 laggy laggy     8664015 Dec  1  2020  twitter_sentiment_data.csv*
-rw-rw-r--  1 laggy laggy     3817545 Nov 23 10:06 'twitter_sentiment_data.csv.zip?dl=1'
-rw-------  1 laggy laggy       44739 Oct 26 13:05  ubuntu-bionic-18.04-cloudimg-console.log
-rw-rw-r--  1 laggy laggy           0 Nov 28 20:12  user_ratings.tsv
-rw-rw-r--  1 laggy laggy       70453 Dec  1 16:18 'view?usp=sharing'
-rw-rw-r--  1 laggy laggy         422 Dec  1 16:14  wget-log
-rw-rw-r--  1 laggy laggy         424 Dec  1 16:15  wget-log.1
-rw-rw-r--  1 laggy laggy         422 Dec  1 16:15  wget-log.2
-rw-rw-r--  1 laggy laggy  3858823980 Dec  1 16:22  yelp-dataset.tar.gz
-rw-rw-r--  1 laggy laggy    55095945 Dec  1 16:17 'yelp_dataset.tgz?Signature=c+zPsL3kgIIvKRHoc6YJhm46hQg=&Expires=1638364570&AWSAccessKeyId=AKIAJ3CYHOIAD6T2PGKA'

In [4]:
import pyspark

In [5]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.dynamicAllocation.enabled", "true")\
    .config("spark.dynamicAllocation.shuffleTracking.enabled", "true")\
    .config("spark.dynamicAllocation.maxExecutors", "1")\
    .getOrCreate()

In [21]:
songs_df = spark.read.load("/train_triplets.txt",
                     format="csv", sep="\t", inferSchema="true", 
                     header="false")

In [14]:
songs_df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: integer (nullable = true)

In [15]:
songs_df = songs_df.withColumnRenamed("_c0", "user")\
                   .withColumnRenamed("_c1", "song")\
                   .withColumnRenamed("_c2", "play_count")

In [16]:
songs_df.createOrReplaceTempView("songs")

In [17]:
played_more_than_10_times = spark.sql("select song from songs where play_count > 10")

In [18]:
played_more_than_10_times.count()

2043582

# Part 2

In [25]:
business = spark.read.json("yelp-dataset/yelp_academic_dataset_business.json")
reviews = spark.read.json("yelp-dataset/yelp_academic_dataset_review.json")
users = spark.read.json("yelp-dataset/yelp_academic_dataset_user.json")
business.createOrReplaceTempView("business")
reviews.createOrReplaceTempView("reviews")
users.createOrReplaceTempView("users")

In [26]:
spark.sql("select state, count(state) as count from business group by state order by count(state) desc").show()

+-----+-----+
|state|count|
+-----+-----+
|   AZ|56686|
|   NV|36312|
|   ON|33412|
|   NC|14720|
|   OH|14697|
|   PA|11216|
|   QC| 9219|
|   AB| 8012|
|   WI| 5154|
|   IL| 1932|
|   SC| 1162|
|   NY|   22|
|   CA|   19|
|   TX|    6|
|   FL|    4|
|  XGM|    4|
|   AL|    3|
|   WA|    3|
|   CT|    3|
|   VA|    2|
+-----+-----+
only showing top 20 rows

In [27]:
spark.sql("""
select count(distinct(*)) from (
    select explode(split(categories, \",\s*\")) as category from business
)
""").show()

+------------------------+
|count(DISTINCT category)|
+------------------------+
|                    2468|
+------------------------+

In [28]:
spark.sql("""
select category, count(category) from 
    (
        select explode(split(categories, \",\s*\")) as category 
        from business where city=\"Phoenix\"
    )
group by category order by count(category) desc limit 10
""").show()

+-----------------+---------------+
|         category|count(category)|
+-----------------+---------------+
|      Restaurants|           2815|
|         Shopping|           2416|
|    Home Services|           2302|
|             Food|           1672|
| Health & Medical|           1577|
|   Local Services|           1444|
|      Restaurants|           1184|
|       Automotive|           1164|
|    Beauty & Spas|           1115|
|    Home Services|            843|
+-----------------+---------------+

In [29]:
spark.sql("""
select 
    count(*) as friend_count 
from 
    users 
where 
    size(split(friends, \",\s*\")) > 1000
""").show()

+------------+
|friend_count|
+------------+
|        4166|
+------------+

In [30]:
spark.sql("""
with business_ratings as (
    select 
        business_id, year(to_date(date)) as year, avg(stars) as rating 
    from 
        reviews group by business_id, year(to_date(date))
),
business_2014 as (
    select 
        business_id, rating 
    from 
        business_ratings 
    where 
        year=2014
),
business_2017 as (
    select 
        business_id, rating 
    from 
        business_ratings where year=2017
)
select 
    business_2014.business_id, business_2014.rating, business_2017.rating 
from 
    business_2014 
inner join 
    business_2017 
on 
    business_2014.business_id=business_2017.business_id 
where 
    business_2017.rating < business_2014.rating 
""").show()

+--------------------+------------------+------------------+
|         business_id|            rating|            rating|
+--------------------+------------------+------------------+
|VHsNB3pdGVcRgs6C3...|3.3461538461538463|2.7857142857142856|
|avljb14OB8UkFTHVo...|               4.0|               3.0|
|dk1MV0MP32Xq-iBxz...|2.1379310344827585|2.0392156862745097|
|GGxnlrfvWy7LFvjN5...| 4.214285714285714| 4.097560975609756|
|GJ2TXArxyuF8f79Wb...|               5.0|               4.8|
|vnNRBq0zVIH-k1BA9...|               4.0|               3.5|
|M4D-cZ9_9Bw-gMi0d...|               5.0| 4.923076923076923|
|RMjCnixEY5i12Ciqn...|3.3333333333333335|               2.7|
|jfdUtdkXogP2kjK5K...|              3.25|               3.0|
|XgX0JhqleOnH-ezSe...|               4.0|2.3333333333333335|
|yMKisHBS_Ia8Dr27A...|               3.5|               2.6|
|C5H-eZfnxBkYN40xc...| 4.333333333333333| 2.111111111111111|
|9HG09ZNqzrEUz-ipS...|               2.6|               2.0|
|yNp0G1G4-iYNnuC7V...|              3.75|2.6666666666666665|
|N1Gdq44mY5c7NEazh...| 4.333333333333333|               3.5|
|B4t9umS5dCUrfTfrd...|               5.0|               4.5|
|xYL8AxbYQFkCT1yGu...|2.3333333333333335|              2.25|
|Es-MfCr79uHI-CSrz...| 3.142857142857143|1.8823529411764706|
|9CkeCB1VzP2VZ221V...|               4.0|               3.0|
|0X620JR8m7BSPt5xa...|               4.6|               4.0|
+--------------------+------------------+------------------+
only showing top 20 rows

In [35]:
spark.sql(
"""
with 
last_reviews AS (
    SELECT user_id, business_id
    FROM reviews
    WHERE EXISTS (
        SELECT user_id, max(to_date(date)) AS last 
        FROM reviews
        GROUP BY user_id
    )
),
user_friends AS (
    SELECT user_id, explode(split(friends, \",\s*\")) 
    AS friend
    FROM users
),
business_categories AS (
    SELECT business_id, explode(split(categories, \",\s*\")) 
    AS category
    FROM business
),
chinese_businesses AS (
    SELECT *
    FROM business_categories
    WHERE category='Chinese'
)
SELECT friend as user_id
FROM last_reviews
LEFT JOIN user_friends ON last_reviews.user_id=user_friends.user_id 
INNER JOIN chinese_businesses ON last_reviews.business_id=chinese_businesses.business_id
""").show()

+--------------------+
|             user_id|
+--------------------+
|AfuFQIWXz50GE4TZ5...|
| ivm6bLIy2kGx-tuj...|
| L6wUxmUErIR7FJij...|
| kNuQsqcqTOy_5lQ_...|
| Xxvz5g67eaCr3emn...|
| hk8o_YrQY31c9Sm5...|
| SeWZYXztsqDvuMgF...|
| HMfEpwxTmlxxw0Zo...|
| leGhN-KSfIdIho2I...|
| Z_ZLQ9mj03sVZ9G7...|
| mzwmFGcLqaR0IHqd...|
| OSG63vuflUELLIJT...|
| 7qyzGvU8NN3psfQi...|
| DKsGJpKOjRWSeWbs...|
| ugDuOj80BPxXsPSP...|
| _hm8U41mh5uhd4t6...|
| INbtAUNKtZSXr20_...|
| x3Z6mJPgtnF5ni1e...|
|0MUXAy_zbclghJe6F...|
| fb9sMy7ixsOQyW4B...|
+--------------------+
only showing top 20 rows